// Specific CSS for your home-page

body {
  color: red;
  background-image: url(https://www.gannett-cdn.com/media/2017/12/01/USATODAY/USATODAY/636477632659207598-sw4.JPG?width=1184&format=pjpg&auto=webp&quality=50);
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  text-align: center;
}
